@font-face {
    font-family: 'poppins-medium';
    src: url(fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'poppins-bold';
    src: url(fonts/Poppins/Poppins-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins-medium';
}
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 15% 15px 15%;
    text-wrap: nowrap;
    box-shadow: 0px 0px 4px 0px #888888;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.logo {
    font-weight: bold;
    font-size: 32px;
    font-family: 'poppins';
    cursor: pointer;
}
.links {
    display: flex;
    align-items: center;
}
.links a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.links a:hover {
    color: rgb(206, 55, 0);
    transform: translateY(-4px);
    transition: 0.5s;
}
.links a:not(:hover) {
    transform: translateY(0px);
    transition: 0.5s;
}
.icons {
    display: flex;
    align-items: center;
}
.icons img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
.cartCounter {
    position: relative;
    text-align: center;
    height: 18px;
}
.counter {
    position: absolute;
    top: 11px;
    left: 35px;
    background-color: rgb(206, 55, 0);
    font-size: 10px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-counter {
    display: none;
}
.icons img:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.6s;
}
.icons img:not(:hover) {
    cursor: pointer;
    transform: translateY(0px);
    transition: 0.5s;
}
.icons img:nth-child(4) {
    display: none;
}
.hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.container {
    background-image: url(images/bg.png);
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 300px 0px 0px 15%;
}
.mini-text {
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding-left: 2.5px;
}
.big-text {
    font-size: 72px;
    font-weight: bold;
    line-height: 90%;
}
.second-big-text {
    font-size: 72px;
    font-weight: bold;
    color: rgb(206, 55, 0);
    line-height: 90%;
}
.small-text-bottom {
    font-size: 14px;
    color: rgb(102, 102, 102);
    text-wrap: wrap;
    padding-top: 20px;
    padding-left: 2.5px;
}
.shopnow {
    border-style: none;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-wrap: nowrap;
    margin-top: 50px;
}
.shopnow:hover {
    background-color: rgb(206, 55, 0);
}
.container-2 {
    background-color: black;
    padding: 0% 0% 0% 10%;
} 
/* .brands a {
    display: flex;
 flex-wrap: wrap;
} */
.container-2 img {
    margin: 20px 0% 20px 5%;
} 
.brands {
    width: 100%;
    height: auto;
}
.brands img {
    background-color: black;
}
.allproducts {
    margin-top: 50px;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    justify-items: center;
    margin: 0% 15% 0% 15%;
}
.container-3 img {
    width: 100%;
}
.container-3 > div {
    margin-top: 100px;
}

.star10 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  
  .star10:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star20 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  
  .star20:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star30 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  
  .star30:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star40 {                 /*in use*/
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  
  .star40:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star50 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  .star50:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star60 {                 /*in use */
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  .star60:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star70 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  .star70:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star80 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  .star80:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
.star90 {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  .star90:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    overflow: hidden;
    color: rgb(206, 55, 0);
  }
  .cart-drop-down {
    position: relative;
    top: 0%;
    left: 100%;
    width: 0%;
    background-color: white;
    opacity: 100%;
    height: 100%;
    padding: 0px;
    z-index: 1;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    overflow-y: visible;
}
.cart-drop-down-child {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}
/* .drop-down a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 20px;
    text-wrap: nowrap;
} */
.activ {
    position: fixed;
    top: 0%;
    left: 70%;
    opacity: 100%;
    width: 30%;
    box-shadow: 0px 0px 5px 0px black;
    transition: 0.5s;
}
.disable {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 0%;
    background-color: white;
    opacity: 100%;
    height: 100%;
    padding: 0px;
    z-index: 1;
    transition: 0.5s;
}
.margin {
    margin: 20px 0px 20px 10px;
}
.close-cart:hover {
    cursor: pointer;
    transform:scale(1.1);
    transition: 0.5s;
}
.close-cart:not(:hover) {
    transform:scale(1);
    transition: 0.5s;
}
.cart-head {
    text-align: center;
    text-wrap: nowrap;
}
.buttons {
    display: flex;
    position: sticky;
    top: 820px;
    left: 0px;
    width: 100%;
}
.btn1,
.btn2 {
    width: 50%;
    height: 100px;
    border-style: none;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
}
.btn1 {
    background-color: black;
}
.btn1:hover {
    background-color: rgb(20, 20, 20);
}
.btn2 {
    background-color: rgb(206, 55, 0);
}
.btn2:hover {
    background-color: rgb(211, 68, 15);
}
/* .cart-drop-down {
    display: flex;
    flex-direction: column;
} */
.cart-drop-down-child h1 {
    color: rgb(206, 55, 0);
    margin: auto;
    text-wrap: nowrap;
}
.prod {
    display: flex;
    flex-direction: column;
}
.atc {
    outline: none;
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;
    font-size: 12px;
    width: 80%;
    align-self: center;
    margin: 10px;
}
.atc:hover {
    transform: scale(1.05);
    background-color: rgb(206, 55, 0);
}
.pricencode {
    display: flex;
    flex-direction: column;
}
@media (max-width: 1280px) {
    .activ {
        left: 50%;
        width: 50%;
    }
    .container-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        justify-items: center;
        margin: 0% 15% 0% 15%;
    }
    .container-3 img {
        width: 100%;
    }
    .container-3 > div {
        margin-top: 100px;
    }
}
@media (max-width: 1024px) {
    .container-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        justify-items: center;
        margin: 0% 15% 0% 15%;
    }
    .container-3 img {
        width: 100%;
    }
    .container-3 > div {
        margin-top: 100px;
    }
    nav {
        width: 100%;
    }
    .links {
        display: none;
    }
    .icons img:nth-child(4) {
        display: block;
    }
    .drop-down {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
    }
    .drop-down-child {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 20px;
    }
    .drop-down a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 20px;
        text-wrap: nowrap;
    }
    .activ {
        position: fixed;
        top: 0%;
        left: 50%;
        opacity: 100%;
        width: 50%;
        box-shadow: 0px 0px 5px 0px black;
        transition: 0.5s;
    }
    .disable {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
        transition: 0.5s;
    }
    .drop-down a:hover {
        color: rgb(206, 55, 0);
        transform: translateY(-4px);
        transition: 0.5s;
        background-color: #e6e6e6;
    }
    .drop-down a:not(:hover) {
        cursor: pointer;
        transform: translateY(0px);
        transition: 0.5s;
    }
    .close:hover {
        cursor: pointer;
        transform:scale(1.1);
        transition: 0.5s;
    }
    .close:not(:hover) {
        transform:scale(1);
        transition: 0.5s;
    }
}

@media (max-width: 768px) {
    .container-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        justify-items: center;
        margin: 0% 15% 0% 15%;
    }
    .container-3 img {
        width: 100%;
    }
    .container-3 > div {
        margin-top: 100px;
    }
    nav {
        width: 100%;
    }
    .links {
        display: none;
    }
    .icons img:nth-child(4) {
        display: block;
    }
    .drop-down {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
    }
    .drop-down-child {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 20px;
    }
    .drop-down a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 20px;
        text-wrap: nowrap;
    }
    .activ {
        position: fixed;
        top: 0%;
        left: 0%;
        opacity: 100%;
        width: 100%;
        box-shadow: 0px 0px 5px 0px black;
        transition: 0.5s;
    }
    .disable {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
        transition: 0.5s;
    }
    .drop-down a:hover {
        color: rgb(206, 55, 0);
        transform: translateY(-4px);
        transition: 0.5s;
        background-color: #e6e6e6;
    }
    .drop-down a:not(:hover) {
        cursor: pointer;
        transform: translateY(0px);
        transition: 0.5s;
    }
    .close:hover {
        cursor: pointer;
        transform:scale(1.1);
        transition: 0.5s;
    }
    .close:not(:hover) {
        transform:scale(1);
        transition: 0.5s;
    }
}

@media (max-width: 480px) {
    .container-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        justify-items: center;
        margin: 0% 15% 0% 15%;
    }
    .container-3 img {
        width: 100%;
    }
    .container-3 > div {
        margin-top: 100px;
    }
    nav {
        width: 100%;
        padding: 10px 15% 10px 15%;
    }
    .logo {
        font-size: 24px;
    }
    .links {
        display: none;
    }
    .icons img {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .icons img:nth-child(4) {
        display: block;
    }
    .drop-down {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
    }
    .drop-down-child {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 20px;
    }
    .drop-down a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 20px;
        text-wrap: nowrap;
    }
    .activ {
        position: fixed;
        top: 0%;
        left: 0%;
        opacity: 100%;
        width: 100%;
        box-shadow: 0px 0px 5px 0px black;
        transition: 0.5s;
    }
    .disable {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
        z-index: 1;
        transition: 0.5s;
    }
    .drop-down a:hover {
        color: rgb(206, 55, 0);
        transform: translateY(-4px);
        transition: 0.5s;
        background-color: #e6e6e6;
    }
    .drop-down a:not(:hover) {
        cursor: pointer;
        transform: translateY(0px);
        transition: 0.5s;
    }
    .close:hover {
        cursor: pointer;
        transform:scale(1.1);
        transition: 0.5s;
    }
    .close:not(:hover) {
        transform:scale(1);
        transition: 0.5s;
    }
    .big-text {
        font-size: 60px;
        font-weight: bold;
        line-height: 90%;
    }
    .second-big-text {
        font-size: 60px;
        font-weight: bold;
        color: rgb(206, 55, 0);
        line-height: 90%;
    }
    .container-2 {
        padding: 0% 25% 0% 15%;
    }
    .content {
        padding: 150px 0 0 15%;
    }
    .counter {
        left: 25px;
        padding: 5px;
    }
}

/* Galaxy fold and other small devices */

@media (min-width: 280px) and (max-width: 320px) {
    nav {
        width: 100%;
        padding: 10px 15% 10px 15%;
    }
    .logo {
        font-size: 24px;
    }
    .links {
        display: none;
    }
    .icons img {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .links {
        display: none;
    }
    .icons img:nth-child(4) {
        display: block;
    }
    .drop-down {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 0%;
        background-color: white;
        opacity: 100%;
        height: 100%;
        padding: 0px;
    }
    .drop-down-child {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 20px;
    }
    .drop-down a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        padding: 20px;
        text-wrap: nowrap;
    }
    .activ {
        position: fixed;
        top: 0%;
        left: 0%;
        opacity: 100%;
        width: 100%;
        box-shadow: 0px 0px 5px 0px black;
        transition: 0.5s;
    }
    .drop-down a:hover {
        color: rgb(206, 55, 0);
        transform: translateY(-4px);
        transition: 0.5s;
        background-color: #e6e6e6;
    }
    .drop-down a:not(:hover) {
        cursor: pointer;
        transform: translateY(0px);
        transition: 0.5s;
    }
    .close:hover {
        cursor: pointer;
        transform:scale(1.1);
        transition: 0.5s;
    }
    .close:not(:hover) {
        transform:scale(1);
        transition: 0.5s;
    }
    .container {
        width: 100%;
    }
    .big-text {
        font-size: 48px;
        font-weight: bold;
        line-height: 90%;
    }
    .second-big-text {
        font-size: 48px;
        font-weight: bold;
        color: rgb(206, 55, 0);
        line-height: 90%;
    }
    .content {
        padding: 150px 0 0 15%;
    }
}